header {
    background-color: #3370DE;
    padding: 20px;
    margin: 0px;
  }
  
  .icon_ocultos {
    margin-left: 10px;
  }
  
  .barras {
    color: white;
    margin: 5px;
  }
  
  .logo {
    width: 100px;
    height: 70.52px;
    margin-left: 10px;
  }
  
  .menuHeader {
    font-family: Source Sans 3;
    font-size: 23px;
    font-weight: bold;
    margin: 0px;
  }
  .menuHeader a {
    text-decoration: none;
    color: white;
    margin: 30px;
    transition: transform 0.3s ease;
  }
  .menuHeader a :hover {
    transform: scale(1.3);
  }
  
  .mnuLateral {
    font-family: Source Sans 3;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }
  .mnuLateral a {
    text-decoration: none;
    color: #3370DE;
    margin: 10px;
    transition: transform 0.3s ease;
  }
  .mnuLateral a :hover {
    transform: scale(1.3);
  }
  
  #offcanvasNavbar {
    width: 300px; /* Ancho del menú */
    height: 100%; /* Altura del menú */
  }
  
  .iconos {
    margin-right: 10px;
  }
  .iconos .icon {
    color: white;
    margin: 5px;
    transition: transform 0.3s ease;
  }
  .iconos :hover {
    transform: scale(1.3);
  }
  
  footer {
    background-color: #283F7F;
    padding: 10px;
    color: white;
    font-family: Source Sans 3;
  }
  footer h4 {
    color: white;
    font-family: Source Sans 3;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-family: Source Sans 3;
  }
  footer i {
    color: white;
    margin-right: 20px;
    width: 30px !important;
    height: 30px !important;
  }
  footer .block {
    margin: 20px;
  }

#qsomos, #mision, #vision, #valores {
    background: rgba(237, 241, 246, 1);
    color: rgba(40, 63, 127, 1);
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#txt-qsomos, #txt-mision, #txt-vision, #txt-valores{
    font-size: 1.5rem;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;

}

#titulo {
    color: rgba(40, 63, 127, 1);
    border-bottom: 1.5px solid;
}

.titulo {
    padding: 10px;
    padding-left: 40px;
    background-color: #D4E8FF;
    height: 60px;
    color: black;
    font-family: Source Sans 3;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }

  main {
    color: #283F7F;
    font-family: Source Sans 3;
    margin: 0px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .desarrolladora{
    background-color: #283F7F;
    padding: 10px;
    color: white;
    font-family: Source Sans 3;
    border-top: 2px solid white;
    font-weight: bold;
  }
  
  .desarrolladora a{
    color: white;
    font-family: Source Sans 3;
    text-decoration: none;
  }
  
  .desarrolladora a:hover{
    transform: scale(120%);
  }
  