// Paleta de colores y letras
$encabezado: #3370DE;
$footer: #283F7F;
$letra: Source Sans 3;

@use "headerFooter";

.carousel-indicators{
    button{
        border-radius: 50%;
        width: 10px !important;
        height: 10px !important;
        background-color: white ;
        border: none;
    }
}

.carousel-indicators .active {
    background-color: $encabezado;
}

.frase{
    margin-top: 20px;
    margin-bottom: 50px;

    h4{
        color: $footer;
        font-size: 30px;
        font-weight: bold ;
    }

    p{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    h4, p{
        margin: 0px;
        font-family: $letra;
    }
}

.product{
    margin: 20px;

    a{
        margin: 10px;
        text-decoration: none;
        color: black;
        font-family: $letra;
        font-weight: bold;
        font-size: 20px;
    }

    p{
        margin-top: 10px;
        margin-left: 20px;
    }
}

h4{
    color: $footer;
    font-family: $letra;
    font-weight: bold;
    font-size: 30px;
}

