@charset "UTF-8";
header {
  background-color: black;
  padding: 20px;
  margin: 0px;
}

.icon_ocultos {
  margin-left: 10px;
}

.barras {
  color: white;
  margin: 5px;
}

.logo {
  width: 100px;
  height: 70.52px;
  margin-left: 10px;
}

.menuHeader {
  font-family: Source Sans 3;
  font-size: 23px;
  font-weight: bold;
  margin: 0px;
}
.menuHeader a {
  text-decoration: none;
  color: white;
  margin: 30px;
  transition: transform 0.3s ease;
}
.menuHeader a :hover {
  transform: scale(1.3);
}

.mnuLateral {
  font-family: Source Sans 3;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
.mnuLateral a {
  text-decoration: none;
  color: #3370DE;
  margin: 10px;
  transition: transform 0.3s ease;
}
.mnuLateral a :hover {
  transform: scale(1.3);
}

#offcanvasNavbar {
  width: 300px; /* Ancho del menú */
  height: 100%; /* Altura del menú */
}

.iconos {
  margin-right: 10px;
}
.iconos .icon {
  color: white;
  margin: 5px;
  transition: transform 0.3s ease;
}
.iconos :hover {
  transform: scale(1.3);
}

footer {
  background-color: black;
  padding: 10px;
  color: white;
  font-family: Source Sans 3;
}
footer h4 {
  color: white;
  font-family: Source Sans 3;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: Source Sans 3;
}
footer i {
  color: white;
  margin-right: 20px;
  width: 30px !important;
  height: 30px !important;
}
footer .block {
  margin: 20px;
}

main {
    font-family: Source Sans 3;
    margin: 0px;
    margin-bottom: 20px;
    padding: 20px;
  }

.codexsing{
    font-family:Source Sans 3 ;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}