header {
    background-color: #3370DE;
    padding: 20px;
    margin: 0px;
  }
  
  .icon_ocultos {
    margin-left: 10px;
  }
  
  .barras {
    color: white;
    margin: 5px;
  }
  
  .logo {
    width: 100px;
    height: 70.52px;
    margin-left: 10px;
  }
  
  .menuHeader {
    font-family: Source Sans 3;
    font-size: 23px;
    font-weight: bold;
    margin: 0px;
  }
  .menuHeader a {
    text-decoration: none;
    color: white;
    margin: 30px;
    transition: transform 0.3s ease;
  }
  .menuHeader a :hover {
    transform: scale(1.3);
  }
  
  .mnuLateral {
    font-family: Source Sans 3;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }
  .mnuLateral a {
    text-decoration: none;
    color: #3370DE;
    margin: 10px;
    transition: transform 0.3s ease;
  }
  .mnuLateral a :hover {
    transform: scale(1.3);
  }
  
  #offcanvasNavbar {
    width: 300px; /* Ancho del menú */
    height: 100%; /* Altura del menú */
  }
  
  .iconos {
    margin-right: 10px;
  }
  .iconos .icon {
    color: white;
    margin: 5px;
    transition: transform 0.3s ease;
  }
  .iconos :hover {
    transform: scale(1.3);
  }
  
  footer {
    background-color: #283F7F;
    padding: 10px;
    color: white;
    font-family: Source Sans 3;
  }
  footer h4 {
    color: white;
    font-family: Source Sans 3;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-family: Source Sans 3;
  }
  footer i {
    color: white;
    margin-right: 20px;
    width: 30px !important;
    height: 30px !important;
  }
  footer .block {
    margin: 20px;
  }


main{
    margin: 0px;
    padding: 20px;
    font-family: Source Sans 3;
}

.btn {
    font-size: 16px;
    font-family: Source Sans 3;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-fluid {
    font-weight: bold;
}

.editar {
    text-align: right;
    padding: 11%;
}

.editar2 {
    padding: 39%;
}

.info {
    align-items:center;
    text-align: left;
    padding-top: 20px;
}

.resum {
    align-items:center;
    text-align: left;
    padding-top: 20px;
}

.form-label {
    font-weight: bold;
}

.subpago {
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container_2 .left_side{
    position: relative;
    background-color: rgb(248, 231, 231);
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(45, 42, 42, 0.1);
}

.container .left_side{
    position: relative;
    padding: 20px;
    width: 480px;
}

.container .right_side{
    position:initial;
    padding: 20px;
}

.columna{
    padding: 30px;
    margin: 3px;
}

.titulo {
    padding: 10px;
    padding-left: 40px;
    background-color: #D4E8FF;
    height: 60px;
    color: black;
    font-family: Source Sans 3;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .carritoElementos{
    margin: 10px;
  }

  .img-thumbnail{
    margin-bottom: 40px;
  }

  .subpago{
    margin-top: 40px;
  }



.btn {
    font-size: 16px;
    font-family: Source Sans 3;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-fluid {
    font-weight: bold;
}

.editar {
    text-align: right;
    padding: 11%;
}

.editar2 {
    padding: 39%;
}

.info {
    align-items:center;
    text-align: left;
    padding-top: 20px;
}

.resum {
    align-items:center;
    text-align: left;
    padding-top: 20px;
}

.form-label {
    font-weight: bold;
}

.subpago {
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.tarjeta-opcion{
    padding-top: 20px;
}

.tarj {
    width: 50px;
    height: 35px;
    padding: 5px;
    margin-top: 10px;
}

.tarj-pos{
    text-align: right;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container_2 .left_side{
    position: relative;
    background-color: rgb(248, 231, 231);
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(45, 42, 42, 0.1);
}

.container .left_side{
    position: relative;
    padding: 20px;
    width: 480px;
}

.container .right_side{
    position:initial;
    padding: 20px;
}

.desarrolladora{
  background-color: #283F7F;
  padding: 10px;
  color: white;
  font-family: Source Sans 3;
  border-top: 2px solid white;
  font-weight: bold;
}

.desarrolladora a{
  color: white;
  font-family: Source Sans 3;
  text-decoration: none;
}

.desarrolladora a:hover{
  transform: scale(120%);
}
