@use "headerFooter";

$encabezado: #3370DE;
$footer: #283F7F;
$letra: Source Sans 3;
$titulos:  #D4E8FF;
$bordes: rgba(83, 81, 81, 0.33);


main{
    margin: 0px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: $letra;

    .mnuNav{
        background-color: $titulos;
        padding: 5px;

        .menuNavI{
            margin-left:20px ;
        }
    }

    .mainBody{
        margin: 0px;
        padding: 10px;
        margin-top: 10px;

        .imgProduct{
            width: 350px;
            height: 350px;
            margin-bottom: 20px;
            border: 2px solid $bordes;
            padding: 10px;
        }

        #proTitle{
            font-family: $letra;
            font-weight: bold;
            font-size: 27px;
            margin-right: 10px;
        }

        .boton{
            background-color: transparent;
            border: none;
            margin: 10px;
            padding: 0px;

            .fa-heart{
                color: black;
                font-size: 27px;
            }

            .fa-heart:hover{
                color: red;
                transform: scale(140%);
            }
        }

        .descript{
            border: 2px solid $bordes;
            padding: 10px;
            color: black;
            font-family: $letra;
            font-size: 20px;
            text-align: justify;
            margin: 0px;
        }

        .preProd{
            margin: 20px;
            font-family: $letra;
            font-weight: bold;
            font-size: 20px;

            span{
                margin: 10px;
            }
        }

        .btnComp{
            button{
                font-family: $letra;
                font-weight: bold;
                background-color: $encabezado;
                color: white;
                border-radius: 10px;
                border: none;
                height: 40px;
                margin: 10px;
            }

            button:hover{
                background-color: green;
                transform: scale(120%);
            }
        }




    }

    .star{
       color: gray;
    }

    .star:hover{
        color: gold;
    }

    .cont1, .cont2{
        margin-top: 20px;
        font-family: $letra;
        font-size: 21px;

        h5{
            font-family: $letra;
            font-size: 25px;
            margin-right: 10px;
            margin-left: 20px;
            margin-bottom: 20px;
        }

    }

    .cont2{
        .fa-user{
            margin: 10px;
            margin-right: 20px;
        }

        .form-control{
            width: 300px;
            border: 2px solid $bordes;
        }
    }

    .btnEnviar{
        background-color: $encabezado;
        color: white;
        font-family: $letra;
        font-weight: bold ;
        border-radius: 10px;
        border: none;
        height: 40px;
        margin: 10px;

    }



}