{% extends "maestra_adminX.html" %}
{% block titulo %} Detalle Pedido{% endblock %}
{% block contenido %}

<section class="section p-5">
    <div class="col-11">
        <h2 class="is-size-3">Detalle Pedido</h2>
        <table class="table table-hover table-group-divider table align-middle">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" class="border">Pedido id</th>
                    <th scope="col" class="border">Producto</th>
                    <th scope="col" class="border">Cantidad</th>
                    <th scope="col" class="border">Precio Unitario</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for detalle in detalle_pedido %}
                <tr>
                    <td class="border text-end">{{detalle[0]}}</td>
                    <td class="border text-start">{{detalle[1]}}</td>
                    <td class="col-3 border text-start">{{detalle[2]}}</td>
                    <td class="border text-end">{{detalle[3]}}</td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}