{% extends "maestra_admin.html" %}
{% block titulo %}Detalle pedido{% endblock %}
{%block admin_cont %}

<section>

    <div class="bs-primary">
        Detalle producto
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Pedido_id</th>
                <th>Producto_id</th>
                <th>Cantidad</th>
                <th>precio</th>
            </tr>
        </thead>
        <tbody>
            {% for det_ped in det_peds %}
            <tr>
                <td>{{det_ped[1]}}</td>
                <td>{{det_ped[2]}}</td>
                <td>{{det_ped[3]}}</td>
                <td>{{det_ped[4]}}</td>
                <td>
                    {# Pasar el id (lo que hay en disco[0] #}
                    <a href="{{url_for('editar_disco', id=disco[0])}}" class="button is-info">Editar</a>
                </td>
                <td>
                    <form action="{{url_for('eliminar_disco')}}" method="POST">
                        <input type="hidden" name="id" value="{{disco[0]}}">
                        <button class="button is-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}