{% extends "maestra_adminX.html" %}
{% block titulo %} Administrador{% endblock %}
{% block contenido %}

<section class="section p-5">
    <div class="col-11">
        <h2 class="is-size-3">Administrador</h2>
        <div class="mb-3">
            <form action="{{url_for('formulario_administrador')}}" method="GET" class="form-inline">
                <input type="text" name="nombre" id="nombreBusqueda" class="form-control"
                    placeholder="Ingrese el nombre">
                <button style="margin-left:10px ;" type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <a href="{{url_for('formulario_registrar_administrador')}}" class="btn btn-primary px-4 my-2">Agregar</a>
        <table class="table table-hover table-group-divider table align-middle">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" class="border">Nombre</th>
                    <th scope="col" class="border">Apellidos</th>
                    <th scope="col" class="border">Email</th>
                    <th scope="col" class="border">Telefono</th>
                    <th scope="col" class="border">Direccion</th>
                    <th scope="col" class="border">Dni</th>
                    <th scope="col" class="border">Username</th>
                    <th scope="col" class="border">Editar</th>
                    <th scope="col" class="border">Eliminar</th>
                    <th scope="col" class="border">Cambiar a Cliente</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for administrador in administradores %}
                <tr>
                    <td class="border text-start">{{administrador[1]}}</td>
                    <td class="col-3 border text-start">{{administrador[2]}}</td>
                    <td class="border text-start">{{administrador[3]}}</td>
                    <td class="border text-start">{{administrador[4]}}</td>
                    <td class="border text-start">{{administrador[5]}}</td>
                    <td class="border text-start">{{administrador[6]}}</td>
                    <td class="border text-start">{{administrador[7]}}</td>

                    <td class="border">
                        <a href="{{url_for('formulario_editar_administrador', id=administrador[0])}}"
                            class="btn btn-secondary">Editar</a>
                    </td>

                    <td class="text-center border">
                        <form action="{{url_for('metodo_eliminar_administrador')}}" method="POST"
                            onsubmit="return confirmarEliminarUsuario()">
                            <input type="hidden" name="id" value="{{administrador[0]}}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>

                    <td class="text-center border">
                        <form action="{{url_for('metodo_cambiar_permisos')}}" method="POST"
                            onsubmit="return confirmarCambioPermisos()">
                            <input type="hidden" name="id" value="{{administrador[0]}}">
                            <button class="btn btn-danger">Cambiar</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>



<script>
    function confirmarCambioPermisos() {
        return confirm('¿Estás seguro de que deseas cambiar los permisos?');
    }
    
    function confirmarEliminarUsuario() {
        return confirm('¿Estás seguro de que deseas eliminar al usuario?');
    }

    
</script>

{% endblock %}