{% extends "maestra_adminX.html" %}
{% block titulo %}
Agregar Categoria
{% endblock %}
{% block contenido %}
<section class="p-5">
    <h3 class="is-size-3 mb-3">Agregar Categoria</h3>
    <section class="input-group mb-3">
        <form action="{{url_for('guardar_categoria')}}" method="post">
            <label for="nombre">Nombre:</label>
            <input required type="text" class="form-control mb-3" placeholder="Nombre" name="nombre" id="nombre">
            <label for="descripcion">Descripción:</label>
            <input required type="text" class="form-control mb-3" placeholder="Descripción" name="descripcion" id="descripcion">
            <button type="submit" class="btn btn-primary" style="width: 100px;">Guardar</button>
            <a href="{{url_for('categoriasAdmin')}}" class="btn bg-primary-subtle" style="width: 100px;">Volver</a>
        </form>
    </section>
</section>
{% endblock %}

