{% extends "maestra_adminX.html" %}
{% block titulo %}
Agregar Método de Pago
{% endblock %}
{% block contenido %}
<section class="p-5">
    <h3 class="is-size-3 mb-3">Agregar Método de Pago</h3>
    <section class="input-group mb-3">
            <form action="{{url_for('guardar_metodo_pago')}}" method="post">
                <label for="nombre" class="form-label">Nombre:</label>
                <input required type="text" class="form-control mb-3" placeholder="Nombre" name="nombre" id="nombre">
                <label for="descripcion" class="form-label">Descripción:</label>
                <input required type="text" class="form-control mb-3" placeholder="Descripción" name="descripcion" id="descripcion">
                <button type="submit" class="btn btn-primary" style="width: 100px;">Guardar</button>
                <a href="{{url_for('metodos_pago')}}" class="btn bg-primary-subtle" style="width: 100px;">Volver</a>
            </form>
    </section>
</section>
{% endblock %}
