{% extends "maestra.html" %}
{% block titulo %} Blog{% endblock %}
{% block contenido %}


    <section class="container-fluid">
        <div class="row">
            <div class="container-fluid titulo">
                Blog
            </div>

            <div class="col">

                <div class="d-lg-flex justify-content-center d-md-block">
                    <section>
                        <div class="text-center">
                            <h4 class="titulo2">
                                ¿Cómo cuidar a nuestra mascota en cuarentena?
                            </h4>

                            <img class="img-fluid imgBlog" src="img/blogP.png" alt="" />
                        </div>

                        <div class="infoBlog">
                            <div class="row">

                                <div class="col customDiv ">
                                    Tener una mascota siempre da alegría en casa, y en estos momentos, es una gran
                                    compañía.<br><br>

                                    Ahora que debemos de estar en casa, podemos disfrutar la compañía de nuestra
                                    mascota, más que nunca y seguro que nuestro cachorro o minino estarán encantados de
                                    tenernos tanto tiempo en casa, o tal vez no.<br><br>

                                    En nuestra vida cotidiana solemos preocuparnos por brindarle los mejores cuidados a
                                    nuestra mascota, y ahora que estamos en una situación en dónde debemos tener más
                                    higiene, no será la excepción para prestar más atención al cuidado de nuestros
                                    cachorros o gatos. <br><br>

                                    <div class="collapse" id="oculto">
                                        El lavado frecuente de manos se ha convertido en una práctica esencial para prevenir
                                        la propagación de enfermedades, y esto también se aplica al contacto con nuestras
                                        mascotas.<br><br>
    
                                        Es importante recordar lavarse las manos antes y después de interactuar con nuestros
                                        peludos amigos, especialmente si hemos estado fuera de casa o si hemos tocado
                                        superficies potencialmente contaminadas.<br><br>

                                        Recuerda que la salud y el bienestar de tu mascota son una responsabilidad compartida. Si notas algún cambio en su comportamiento, apetito o aspecto físico, no dudes en consultar a un veterinario para recibir el mejor asesoramiento y cuidado adecuado.<br><br>

                                        En estos tiempos difíciles, nuestras mascotas pueden ser una fuente de alegría y apoyo emocional. Cuidar de ellas adecuadamente nos permite fortalecer el vínculo con nuestros peludos compañeros y asegurar su bienestar durante esta situación.
                                    </div>

                                </div>
                            </div>
                        </div>

                        <button id="botonLeerMas" class="btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#oculto" aria-expanded="false" aria-controls="oculto">
                            Leer más
                        </button>
                    </section>

                    <aside>
                        <h4 class="titulo3">
                            Buscar
                        </h4>

                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="boton">
                            Buscar
                        </button>

                        <h4 class="titulo3">
                            Categorias
                        </h4>

                        <ul>
                            <li><a href="">Noticias</a><a class="marcador" href=""> (1)</a></li>
                            <li><a href="">Salud y alimentacion</a><a class="marcador" href=""> (0)</a></li>
                            <li><a href="">Tips y cuidados</a><a class="marcador" href=""> (0)</a></li>
                        </ul>

                        <h4 class="titulo3">
                            Ofertas
                        </h4>

                        <div class="d-lg-block justify-content-lg-center align-items-lg-center d-md-flex">

                            <div class="d-flex justify-content-center align-items-center caja">
                                <a href=""><img class="img-fluid" src="img/bulldog.png" alt=""></a>
                                <div class="infoProd">
                                    <p class="p1 title">B.H.N Bulldog <br>Adulto</p>
                                    <p class="p1 size">Size: 3.0 Kg</p>
                                    <p class="p1 precio">S/. 161.00</p>
                                </div>
                            </div>
                            <div class="d-flex  justify-content-center align-items-center caja">
                                <a href=""><img class="img-fluid" src="img/colchoneta.png" alt=""></a>
                                <div class="infoProd">
                                    <p class="p1 title">ZOOMBA<br> COLCHONETA <br>ORTHOPET - SMALL</p>
                                    <p class="p1 size">Size: 1 S</p>
                                    <p class="p1 precio">S/. 130.00</p>
                                </div>
                            </div>
                            <div class="d-flex  justify-content-center align-items-center caja">
                                <a href="#"><img class="img-fluid" src="img/image 2.png" alt=""></a>
                                <div class="infoProd">
                                    <p class="p1 title">Cute Cat</p>
                                    <p class="p1 size">Size: 5 Kg</p>
                                    <p class="p1 precio">S/. 28.00</p>
                                </div>
                            </div> 
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="{{url_for('static', filename='css/Blog.css')}}">

    {% endblock %}        