{% extends "maestra.html"%}
{% block titulo %}Carrito de compra{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carrito.css')}}">
<main class="container-fluid">
    <div class="row">
        <div class="container-fluid titulo">Carrito de Compras</div>
    </div>
    <div class="cab d-flex justify-content-center">
        <div class="cabecera d-flex justify-content-between ">
            <span class="t1">Producto</span>
            <span class="t2">Precio</span>
            <span class="t3">Cantidad</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <hr class="linea">
    </div>
    <div>
        <div id="carrito"></div>
    </div>
    <div class="d-flex justify-content-center">
        <hr class="linea">
    </div>
    <div class="d-lg-flex justify-content-lg-between d-block text-center">
        <button class="btnVaciar" id="limpiarCarrito">Vaciar Carrito de Compras</button>
        <div class="d-flex">
            <input class="form-control" type="search" placeholder="Codigo de descuento" aria-label="Search">
            <button class="btn-outline-success" id="cupon" type="submit">Aplicar</button>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <hr class="linea">
    </div>
    <div class="d-flex justify-content-between bloqueF">
        <div>
            <ul>
                <p class="title">Aceptamos</p>
                <div>
                    <img src="/static/img/american.png" class="img-fluid  object-fit-contain tarjetas">
                    <img src="/static/img/visa.png" class="img-fluid  object-fit-contain tarjetas">
                    <img src="/static/img/ms.png" class="img-fluid  object-fit-contain tarjetas">
                </div>
            </ul>
        </div>
        <div class="text-center">
            <div class="d-flex justify-content-center">
                <div class="precios">
                    <h5>Sub total</h5>
                    <h4>Total</h4>
                </div>
                <div>
                    <p id="subtotal"></p>
                    <p id="total"></p>
                </div>
            </div>
            <div class="d-flex">
                <input type="checkbox">
                <p>He leído y acepto los <a href="#">terminos y condiciones</a></p>
            </div>
            <a href="{{url_for('direccion_pago')}}"><button class="btnProPago">&nbsp;&nbsp;&nbsp;&nbsp;Proceder al Pago
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</button></a>

        </div>
    </div>
</main>
<script>
    document.querySelector('.btnProPago').addEventListener('click', e => {

        c = JSON.parse(localStorage.getItem('carrito')).length ? JSON.parse(localStorage.getItem('carrito')) : localStorage.length;
        
        if(c == 0) {
            e.preventDefault();
            alert('No hay productos en el carrito');
        }
    })
</script>

<script src="{{url_for('static', filename='js/carrito.js')}}"></script>
{% endblock %}