{% extends "maestra_adminX.html" %}
{% block titulo %} Categorías {% endblock %}
{% block contenido %}

<section class="section p-5">
    <div class="col-11">
        <h2 class="is-size-3">Categorías</h2>
        <a href="{{url_for('formulario_agregar_categoria')}}" class="btn btn-primary px-4 my-2">Agregar</a>
        <table class="table table-hover table-group-divider table align-middle">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" class="col-1 border">Nombre</th>
                    <th scope="col" class="col-3 border">Descripción</th>
                    <th scope="col" class="col-1 border">Estado</th>
                    <th scope="col" class="col-1 border">Editar</th>
                    <th scope="col" class="col-1 border">Cambiar Estado</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for categoria in categorias %}
                <tr class="text-center">
                    <td class="text-start border">{{categoria[1]}}</td>
                    <td class="text-start border">{{categoria[2]}}</td>
                    {% if categoria[3]==True %}
                    <td class="text-start border">Vigente</td>
                    {% else %}
                    <td class="text-start border">No vigente</td>
                    {% endif %}
                    <td>
                        {# Pasar el id (lo que hay en categoria[0]) #}
                        <a href="{{url_for('editar_categoria', id=categoria[0])}}" class="btn btn-secondary">Editar</a>
                    </td>
                    <td>
                    <td class="text-center border">
                        <form action="{{url_for('darbaja_Categoria')}}" method="POST"
                            onsubmit="return confirmarCambiarEstado()">
                            <input type="hidden" name="id" value="{{categoria[0]}}">
                            <button class="btn btn-danger">Cambiar</button>
                        </form>
                    </td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<script>

    function confirmarCambiarEstado() {
        return confirm('¿Estás seguro de que deseas cambiar el estado de la categoria?');
    }
</script>


{% endblock %}