{% extends "maestra.html" %}
{% block titulo %}Categorias{% endblock %}

{% block contenido %}
<section class="container-fluid">
    <div class="row">

        <div class="container-fluid titulo justify-content-center align-items-center">
            Categorias
        </div>

        <div class="d-inline-flex align-items-center justify-content-center">

            <div class="d-none d-lg-flex">

                <div class="img1 text-center">
                    <a href="tienda.html">
                        <p>Alimentos</p>
                        <img class="img-fluid" src="img/ctg1.jpg" alt="">
                    </a>
                </div>

                <div class="img2 text-center">
                    <a href="">
                        <p>Productos para alimentacion</p>
                        <img class="img-fluid" src="img/ctg2.jpg" alt="">
                    </a>
                    <a href="">
                        <p>Accesorios y juguetes</p>
                        <img class="img-fluid" src="img/ctg3.jpg" alt="">
                    </a>
                </div>

                <div class="img1 text-center">
                    <a href="">
                        <p>Higiene</p>
                        <img class="img-fluid" src="img/ctg4.jpg" alt="">
                    </a>    
                </div>
            </div>

            <div>
                <div class="d-lg-none d-block">
                    <div class="img1 text-center">
                        <a href="tienda.html">
                            <p>Alimentos</p>
                            <img class="img-fluid" src="img/ctg1_2.jpg" alt="">
                        </a>
                    </div>
    
                    <div class="img2 text-center">
                        <a href="">
                            <p>Productos para alimentacion</p>
                            <img class="img-fluid" src="img/ctg2.jpg" alt="">
                        </a>
                        <a href="">
                            <p>Accesorios y juguetes</p>
                            <img class="img-fluid" src="img/ctg3.jpg" alt="">
                        </a>
                    </div>
    
                    <div class="img1 text-center">
                        <a href="">
                            <p>Higiene</p>
                            <img class="img-fluid" src="img/ctg4_2.jpg" alt="">
                        </a>    
                    </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}