{% extends "maestra.html" %}
{% block titulo %} Comprobantes {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h2 class="is-size-3">Comprobantes</h2>

            <table class="table">
                <thead class="table-light">
                    <tr class="text-center">
                        <th scope="col" class="border">Fecha de Emision</th>
                        <th scope="col" class="border">Monto total</th>
                        <th scope="col" class="border">Tipo de comprobante</th>
                        <th scope="col" class="border">Id del pedido</th>
                        <th scope="col" class="border">Id del metodo de pago</th>
                        <th scope="col" class="border">Editar</th>
                        <th scope="col" class="border">Eliminar</th>



                    </tr>
                </thead>


                <tbody class="table-group-divider">
                    {% for comprobante in comprobantes %}
                    <tr>
                        <td class="border text-start">{{comprobante[1]}}</td>
                        <td class="border text-start">{{comprobante[2]}}</td>
                        <td class="border text-start">{{comprobante[3]}}</td>
                        <td class="border text-start">{{comprobante[4]}}</td>
                        <td class="border text-start">{{comprobante[5]}}</td>
                        <td class="border text-start">

                        <td class="text-center border">
                            <a href="{{url_for('editar_comprobante', id=comprobante[0])}}"
                                class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_comprobante')}}" method="POST">
                                <input type="hidden" name="id" value="{{comprobante[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}