{% extends "maestra.html" %}
{% block titulo %} Pago{% endblock %}
{% block contenido %}

<section>
    <main class="container-fluid">
        <div class="row">
            <div class="container-fluid titulo justify-content-center align-items-center">
                Direccion de entrega
            </div>
            <div class="d-lg-flex">
                <div class="col-lg-6 columna">
                    <div class="izq">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="{{url_for('static', filename='img/numero-uno.png')}}" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                                Información de contacto
                            </a>
                            <div class="info">
                                <p><strong>Correo electronico:</strong> alvaro@gmail.com<br>
                                    <strong>Nombre del cliente:</strong> Alvaro Javier Yong Bartolini<br>
                                    <strong>Teléfono:</strong> +51 987654321
                                </p>
                            </div>
                            <a class="navbar-brand" href="#">
                                <img src="{{url_for('static', filename='img/numero-2.png')}}" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                                Envío
                            </a>
                            <div class="info">
                                <!-- formulario -->
                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-md-8 position-relative">
                                        <label for="validationTooltip04" class="form-label">Departamento</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option selected disabled value="">Elige...</option>
                                            <option>...</option>
                                        </select>
                                        <div class="invalid-tooltip">
                                            Por favor, escoge un departamento válido
                                        </div>
                                    </div>

                                    <div class="col-md-4 position-relative">
                                        <label for="validationTooltip04" class="form-label">Provincia</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option selected disabled value="">Elige...</option>
                                            <option>...</option>
                                        </select>
                                        <div class="invalid-tooltip">
                                            Por favor, escoge una provincia válida
                                        </div>
                                    </div>

                                    <div class="col-md-12 position-relative">
                                        <label for="validationTooltip04" class="form-label">Distrito</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option selected disabled value="">Elige...</option>
                                            <option>...</option>
                                        </select>
                                        <div class="invalid-tooltip">
                                            Por favor, escoge una provincia válida
                                        </div>
                                    </div>

                                    <div class="col-md-12 position-relative">
                                        <label for="validationTooltip03" class="form-label">Calle</label>
                                        <input type="text" class="form-control" id="validationTooltip03" required>
                                        <div class="invalid-tooltip">
                                            Este campo es obligatorio.
                                        </div>
                                    </div>

                                    <div class="col-md-12 position-relative">
                                        <label for="validationTooltip03" class="form-label">Numero</label>
                                        <input type="text" class="form-control" id="validationTooltip03" required>
                                        <div class="invalid-tooltip">
                                            Este campo es obligatorio.
                                        </div>
                                    </div>

                                    <div class="col-md-12 position-relative">
                                        <label for="validationTooltip03" class="form-label">Información adicional (ej.:
                                            dpto.
                                            201)</label>
                                        <input type="text" class="form-control" id="validationTooltip03" required>
                                        <div class="invalid-tooltip">
                                            Este campo es obligatorio.
                                        </div>
                                    </div>

                                    <div class="col-md-12 position-relative">
                                        <label for="validationTooltip03" class="form-label">Destinatario</label>
                                        <input type="text" class="form-control" id="validationTooltip03" required>
                                        <div class="invalid-tooltip">
                                            Este campo es obligatorio.
                                        </div>
                                    </div>
                                    <div class="col-md-12 position-relative">
                                        <label for="validationTooltip03" class="form-label">Método de pago</label>
                                        <select class="form-control" name="" id="metodosPago">
                                            {% for metodo in metodos_pago %}
                                            <option value="{{metodo[0]}}">{{ metodo[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="card mb-3" style="background-color: #D4E8FF">
                                        <div class="card-body">
                                            <h5 class="card-title">Método de entrega</h5>
                                            <p class="card-text">En hasta 5 días hábiles - Debido a la contingencia
                                                nacional
                                                pueden
                                                existir retrasos en tu pedido. (S/. 15.00)</p>
                                        </div>
                                    </div>
                                    <a href="{{url_for('pago')}} " id="pago-bd" class="btn btn-primary">Ir al pago</a>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="{{url_for('static', filename='img/numero-3.png')}}" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                                Pago
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 columna">
                    <div class="container_2">
                        <div class="col">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">
                                    <img src="{{url_for('static', filename='img/bolsa-de-la-compra (1).png')}}" alt="Logo" width="30" height="30"
                                        class="d-inline-block align-text-top">
                                    Resumen de la compra
                                </a>
                            </div>
                            <div class="resum">
                                <div class="col">
                                    <div class="row">
                                        <div>
                                            <div id="carritoElementos"></div>
                                        </div>
                                    <br>
                                    <div class="container-fluid">
                                        <form class="d-flex" role="search">
                                            <input class="form-control me-2" type="search"
                                                placeholder="Codigo de descuento" aria-label="Search">
                                            <button class="btn btn-success" type="submit">Aplicar</button>
                                        </form>
                                    </div>

                                    <br>

                                    <div class="subpago">
                                        <tr style="margin-top: 1rem;">
                                            <td padding: 10px 0 10px 32px>Subtotal</td>
                                            <h6 style="text-align: right;" id="subtotal"></h6>
                                        </tr>

                                        <tr style="margin-top: 1rem;">
                                            <td padding: 10px 0 10px 32px>Gastos de envío</td>
                                            <h6 style="text-align: right;" id="gastosEnvio"></h6>
                                        </tr>

                                        <tr style="padding: 10px 0 10px 32px;">
                                            <td padding: 10px 0 10px 32px; id="Total">Total</td>
                                            <h5 style="text-align: right;" id="totalPago"></h5>
                                        </tr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <link rel="stylesheet" href="{{url_for('static', filename='css/direccion_pago.css')}}">


</section>
<script src="{{url_for('static', filename='js/envio.js')}}"></script>
{% endblock %}