{% extends "maestra_adminX.html" %}
{% block titulo %} Editar Detalle de Pedido {% endblock %}
{% block contenido %}

<section class="p-5">
    <h3 class="is-size-3 mb-3">Editar Detalle de Pedido</h3>
    <section class="input-group mb-3">
        <form action="{{ url_for('metodo_actualizar_detalle_pedido') }}" method="post">
            <input type="hidden" name="pedido_id" id="pedido_id" value="{{ detalle_pedido[0] }}">
            <input type="hidden" name="producto_id" id="producto_id" value="{{ detalle_pedido[1] }}">
            
            <label for="cantidad" class="form-label">Cantidad</label>
            <input value="{{ detalle_pedido[2] }}" required type="number" class="form-control mb-3" name="cantidad" id="cantidad" placeholder="">

            <label for="precio_unitario" class="form-label">Precio Unitario</label>
            <input value="{{ detalle_pedido[3] }}" required type="number" step="0.01" class="form-control mb-3" name="precio_unitario" id="precio_unitario" placeholder="">
            
            <div class="pt-4">
                <button type="submit" class="btn btn-primary" style="width: 100px;">Guardar</button>
                <a href="{{ url_for('formulario_detalle_pedidos') }}" class="btn bg-primary-subtle" style="width: 100px;">Volver</a>
            </div>
        </form>
    </section>   
</section>

{% endblock %}
