{% extends "maestra_adminX.html" %}
{% block titulo %}
Editar Categoria
{% endblock %}
{% block contenido %}
<section class="p-5">
    <h3 class="is-size-3 mb-3">Editar Categoria</h3>
    <section class="input-group mb-3">
        <form action="{{url_for('actualizar_categoria')}}" method="post">
            {# Enviar el id en un campo oculto #}
            <input type="hidden" name="id" value="{{categoria[0]}}">
            <label for="nombre">Nombre:</label>
            <input value="{{categoria[1]}}" required type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre">
            <label for="descripcion">Descripción:</label>
            <input value="{{categoria[2]}}" required type="text" class="form-control" placeholder="Descripción" name="descripcion" id="descripcion">
            <button type="submit" class="button is-success mt-2">Guardar</button>
            <a href="{{url_for('categoriasAdmin')}}" class="button is-primary mt-2">Volver</a>
        </form>
    </section>   
</section>
{% endblock %}


