{% extends "maestra.html" %}
{% block titulo %} Index{% endblock %}
{% block contenido %}

<section class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/foto1.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='img/foto2.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='img/foto3.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='img/foto4.jpg')}}" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="text-center frase">
        <h4>Nuestros Productos</h4>
        <p>Cuidando la salud de tus mascotas desde el corazón</p>
    </div>

    <div class="animacion">
        <div class="text-center">
            <div class="d-inline-block text-center product">
                <a href="{{url_for('producto')}}">
                    <img class="prod" src="{{url_for('static', filename='/img/Producto 1.png')}}" alt="">
                    <p>Hill's SD Snacks Jerky <br> Dog Treats 200 Gr<br>S/. 30.00</p>
                </a>
            </div>

            <div class="d-inline-block text-center product">
                <a href="producto2.html">
                    <img class="prod" src="/static/img/Producto 2.png" alt="">
                    <p>Hill's SD Snacks <br> Natural Fruty Treats<br>S/. 35.00</p>
                </a>
            </div>

            <div class="d-inline-block text-center product">
                <a href="producto3.html">
                    <img class="prod" src="/static/img/Producto 3.png" alt="">
                    <p>Hill's SD Snacks Soft <br> Savories Chicken<br>S/. 30.00</p>
                </a>
            </div>
        </div>

    </div>

    <h4 class="mx-5">Destacados</h4>

    <div class="text-center">
        <div class="d-inline-block text-center product">
            <a href="">
                <img class="prod" src="/static/img/d1.png" alt="">
                <p>Nexgard 10.1-25 Kg <br> Caja x 1 Tableta<br>S/. 85.00</p>
            </a>
        </div>

        <div class="d-inline-block text-center product">
            <a href="">
                <img class="prod" src="/static/img/d2.png" alt="">
                <p>Nexgard 10.1-25 Kg <br> Caja x 1 Tableta<br>S/. 45.00</p>
            </a>
        </div>

        <div class="d-inline-block text-center product">
            <a href="">
                <img class="prod" src="/static/img/d3.png" alt="">
                <p>Hill's SD Adult 7+, <br> Pollo 13 Oz <br>S/. 20.00</p>
            </a>
        </div>

        <div class="d-inline-block text-center product">
            <a href="">
                <img class="prod" src="/static/img/d4.png" alt="">
                <p>ZOOMBA CARPA <br> TIPEE<br>S/. 89.00</p>
            </a>
        </div>
    </div>

</section>

{% endblock %}