
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria MPS {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://kit.fontawesome.com/6005c71067.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark border-bottom" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="{{url_for('interfaz_admin')}}" class="pe-5">
                <img class="img-fluid logo" src="{{url_for('static', filename='img/logo.png')}}">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            PRODUCTOS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{url_for('formulario_productos')}}">Productos</a></li>
                            <li><a class="dropdown-item" href="{{url_for('categoriasAdmin')}}">Categorias</a></li>
                            <li><a class="dropdown-item" href="{{url_for('formulario_mascotas')}}">Mascotas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        USUARIOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('formulario_administrador')}}">Administradores</a></li>
                        <li><a class="dropdown-item" href="{{url_for('formulario_clientes')}}">Clientes</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PEDIDOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('formulario_pedidos')}}">Pedidos</a></li>
                        <li><a class="dropdown-item" href="{{url_for('formulario_comprobantes')}}" >Comprobantes</a></li>
                        <li><a class="dropdown-item" href="{{url_for('metodos_pago')}}">Métodos de pago</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin_det_ped')}}" >Detalle pedido</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="btn btn btn-outline-secondary" href="{{url_for('logout')}}" role="button">CERRAR SESIÓN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn btn btn-outline-secondary" href="{{url_for('index')}}" role="button">VOLVER</a>
                    </li>
                </div>
            </div>
        </div>
      </nav>

    {% block contenido %} {% endblock %}

</body>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
