<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/panelAdmin.css')}}">
    <script src="https://kit.fontawesome.com/6005c71067.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="container-fluid">
        <p>aa</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 bs bs-primary">contenido</div>
            <div class="col-md-8">Administrador</div>
          </div>
        <nav class="navbar bg-primary" data-bs-theme="dark">

        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PRODUCTOS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Productos
                            </div>
                            <div class="accordion-body">
                                Categorias productos
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                EMPLEADOS
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Administrador
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                CLIENTES
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Clientes
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                PEDIDOS
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse" data-bs-parent="#accordionExample">
                            <a href="{{url_for('formulario_productos')}}">
                                <div class="accordion-body">
                                    Pedidos
                                </div>
                            </a>
                            <div class="accordion-body">
                                Comprobantes
                            </div>
                            <a href="{{url_for('metodos_pago')}}">
                                <div class="accordion-body">
                                    Metodos de pago
                                </div>
                            </a>
                            <a href="{{url_for('admin_det_ped')}}">
                                <div class="accordion-body">
                                    Detalle pedido
                                </div>

                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-9 col-md-9">
                {% block admin_cont %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
</body>
<footer class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div class="justify-content-between  d-lg-flex d-md-flex">
                <div class="block">

                    <h4>Contacto</h4>

                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-briefcase fa-lg"></i>
                        <p>Las Ñustas 2029, La Victoria<br>14007 Chiclayo - Perú</p>

                    </div>

                    <div class="d-flex align-items-center ">
                        <i class="fa-regular fa-envelope fa-lg"></i>
                        <p>contacto@veterinariamips.com</p>
                    </div>

                    <div class="d-flex align-items-center ">
                        <i class="fa-solid fa-phone-volume fa-lg"></i>
                        <p>943 777 595<br>(30) 50 - 5358</p>
                    </div>
                </div>

                <div class="block">
                    <h4>Mascotas</h4>
                    <a href="">
                        <p>Perros</p>
                    </a>
                    <a href="">
                        <p>Gatos</p>
                    </a>
                </div>

                <div class="block">
                    <a href="preguntas.html"><h4>Preguntas Frecuentes</h4></a>
                    <p>
                        ¿Cuáles son los horarios de atención?<br>
                        ¿Cómo puedo programar una cita para<br> mi mascota?<br>
                        ¿Cuáles son los servicios que ofrece?
                    </p>
                    <h4>Visitanos</h4>
                    <a href=""><img src="/static/img/instagram 1.png" alt=""></a>
                    <a href="https://www.facebook.com/veterinaria.mipequenosebastian" target="_blank"><img src="/static/img/facebook 1.png" alt=""></a>
                    <a href=""><img src="/static/img/gorjeo 1.png" alt=""></a>
                    <a href="{{url_for('login_empleado')}}" class="text-dark">
                        <p><Strong>Login empleado</Strong></p>
                    </a>
                </div>

            </div>

            <p>@Copyright 2023 Veterinaria Mi Pequeño Sebastian Todos los derechos reservados</p>

        </div>
    </div>
</footer>
</html>