{% extends "maestra_admin.html" %}
{% block titulo %} Mascotas{% endblock %}
{% block contenido %}

<section class="section p-5">
    <div class="col-5">
        <!-- <img src="{{url_for('static', filename='discos.jpg')}}"> -->
        <h2 class="is-size-3">Mascotas</h2>
        <a href="{{url_for('formulario_registrar_mascota')}}" class="btn btn-primary px-4 my-2">Agregar</a>
        <table class="table table-hover table-group-divider">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" class="col-2">Nombre</th>
                    <th scope="col" class="col-1">Editar</th>
                    <th scope="col" class="col-1">Eliminar</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for mascota in mascotas %}
                <tr class="text-center">
                    <td>{{mascota[1]}}</td>
                    <td>
                        <a href="{{url_for('formulario_editar_mascota', id=mascota[0])}}" class="btn btn-secondary">Editar</a>
                    </td>
                    <td>
                        <form action="{{url_for('metodo_eliminar_mascota')}}" method="POST">
                            <input type="hidden" name="id" value="{{mascota[0]}}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</section>

{% endblock %}