{% extends "maestra_admin.html" %}
{% block titulo %}Metodos de Pago{% endblock %}
{%block admin_cont %}
<section class="section">
    <div class="bs-primary">
        Metodos de Pago
    </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for metodo_pago in metodos_pago %}
                    <tr>
                        <td>{{metodo_pago[1]}}</td>
                        <td>{{metodo_pago[2]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en metodo_pago[0]) #}
                            <a href="" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="" method="POST">
                                <input type="hidden" name="id" value="{{metodo_pago[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</section>
{% endblock %}
