{% extends "maestra_adminX.html" %}
{% block titulo %} Métodos de Pago {% endblock %}
{% block contenido %}

<section class="section p-5">
    <div class="col-11">
       
            <h2 class="is-size-3">Métodos de Pago</h3>
            <a href="{{url_for('formulario_agregar_metodo_pago')}}" class="btn btn-primary px-4 my-2">Agregar</a>
            <table class="table table-hover table-group-divider table align-middle">
                <thead class="table-light">
                    <tr class="text-center">
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for metodo_pago in metodos_pago %}
                    <tr class="text-center">
                        <td>{{metodo_pago[1]}}</td>
                        <td>{{metodo_pago[2]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en metodo_pago[0]) #}
                            <a href="{{url_for('editar_metodo_pago', id=metodo_pago[0])}}" class="btn btn-secondary">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_metodo_pago')}}" method="POST">
                                <input type="hidden" name="id" value="{{metodo_pago[0]}}">
                                <button class="button btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       
    </div>
</section>
{% endblock %}
