{% extends "maestra.html" %}
{% block titulo %} Pago {% endblock %}
{% block contenido %}


<section>

    <main class="container-fluid">
        <div class="row">
            <div class="container-fluid titulo justify-content-center align-items-center">
                Pago con Tarjeta
            </div>
            <div class="d-lg-flex">
                <div class="col-lg-6 columna">
                    <div class="izq">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="{{url_for('static', filename='img/numero-uno.png')}} " alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                                Información de contacto
                            </a>
                            <div class="info">
                                <p><strong>Correo electronico:</strong> alvaro@gmail.com<br>
                                    <strong>Nombre del cliente:</strong> Alvaro Javier Yong Bartolini<br>
                                    <strong>Teléfono:</strong>+51 987654321
                                </p>
                            </div>
                            <a class="navbar-brand" href="#">
                                <img src="{{url_for('static', filename='img/numero-2.png')}}" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                                Envío
                            </a>
                            <div class="info">
                                <p><strong>Dirección:</strong> Urb. Los parques<br>
                                    <strong>Distrito</strong> Chiclayo<br>
                                    <strong>Provincia:</strong> Chiclayo, Lambayeque<br>
                                    <strong>En hasta 5 días hábiles:</strong>
                                </p>

                                <div class="d-grid gap-2 col-12 mx-auto">
                                    <a href="{{url_for('static', filename='direccion_pago.html')}}" class="btn btn-primary">Cambiar opciones de
                                        entrega</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="{{url_for('static', filename='img/numero-3.png')}}" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                                Pago
                            </a>
                            <div class="tarjeta-opcion">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home-tab-pane" type="button" role="tab"
                                            aria-controls="home-tab-pane" aria-selected="true"><strong>Tarjeta de
                                                débito</strong></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#profile-tab-pane" type="button" role="tab"
                                            aria-controls="profile-tab-pane" aria-selected="false"><strong>Tarjeta de
                                                crédito</strong></button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                        aria-labelledby="home-tab" tabindex="0">
                                        <!-- formulario 1 -->
                                        <form class="row g-3">
                                            <div class="col-md-12">
                                                <br>
                                                <label for="inputEmail4" class="form-label">Número</label>
                                                <input type="text" class="form-control" id="inputEmail4">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputPassword4" class="form-label">Cuotas
                                                    disponibles</label>
                                                <input type="text" class="form-control" id="inputPassword4"
                                                    placeholder="Total - S/. 334.00">
                                            </div>
                                            <div class="col-12">
                                                <label for="inputAddress" class="form-label">Nombre y apellido como
                                                    figura
                                                    en la tarjeta</label>
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-5">
                                                <label for="inputState" class="form-label">Fecha de vencimiento</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="inputState" class="form-select">
                                                    <option selected>MM</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="inputState" class="form-select">
                                                    <option selected>AA</option>
                                                    <option>...</option>
                                                </select>
                                            </div>

                                            <div class="col-5">
                                                <label for="inputAddress" class="form-label">Código de seguridad</label>
                                            </div>
                                            <div class="col-7">
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="">
                                            </div>

                                            <div class="col-12">
                                                <label for="inputAddress" class="form-label">Documento de Identidad del
                                                    pagador
                                                </label>
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                                        aria-labelledby="profile-tab" tabindex="0">
                                        <!-- formulario 2 -->
                                        <form class="row g-3">
                                            <!-- imagenes de tarjetas -->
                                            <div class="tarj-pos">
                                                <img src="{{url_for('static', filename='img/american.png')}}" class="tarj">
                                                <img src="{{url_for('static', filename='img/visa.png')}}" class="tarj">
                                                <img src="{{url_for('static', filename='img/ms.png')}}" class="tarj">
                                            </div>

                                            <div class="col-md-12">
                                                <label for="inputEmail4" class="form-label">Número</label>
                                                <input type="text" class="form-control" id="inputEmail4">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputPassword4" class="form-label">Cuotas
                                                    disponibles</label>
                                                <input type="text" class="form-control" id="inputPassword4"
                                                    placeholder="¿En cuántas cuotas desea pagar?">
                                            </div>
                                            <div class="col-12">
                                                <label for="inputAddress" class="form-label">Nombre y apellido como
                                                    figura
                                                    en la tarjeta</label>
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-5">
                                                <label for="inputState" class="form-label">Fecha de vencimiento</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="inputState" class="form-select">
                                                    <option selected>MM</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="inputState" class="form-select">
                                                    <option selected>AA</option>
                                                    <option>...</option>
                                                </select>
                                            </div>

                                            <div class="col-5">
                                                <label for="inputAddress" class="form-label">Código de seguridad</label>
                                            </div>
                                            <div class="col-7">
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="">
                                            </div>
                                            <div class="col-12">
                                                <label for="inputAddress" class="form-label">Documento de Identidad del
                                                    pagador
                                                </label>
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 columna">
                    <div class="container_2">
                        <div class="col">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">
                                    <img src="{{url_for('static', filename='img/bolsa-de-la-compra (1).png')}}" alt="Logo" width="30" height="30"
                                        class="d-inline-block align-text-top">
                                    Resumen de la compra
                                </a>
                            </div>
                            <div class="resum">
                                <div class="col">
                                    <div class="row">
                                        <div>
                                            <div id="carritoElementos"></div>
                                        </div>
                                        <br>
                                        <div class="container-fluid">
                                            <form class="d-flex" role="search">
                                                <input class="form-control me-2" type="search"
                                                    placeholder="Codigo de descuento" aria-label="Search">
                                                <button class="btn btn-success" type="submit">Aplicar</button>
                                            </form>
                                        </div>

                                        <br>

                                        <div class="subpago">
                                            <tr style="margin-top: 1rem;">
                                                <td padding: 10px 0 10px 32px>Subtotal</td>
                                                <h6 style="text-align: right;" id="subtotal"></h6>
                                            </tr>

                                            <tr style="margin-top: 1rem;">
                                                <td padding: 10px 0 10px 32px>Gastos de envío</td>
                                                <h6 style="text-align: right;" id="gastosEnvio"></h6>
                                            </tr>

                                            <tr style="padding: 10px 0 10px 32px;">
                                                <td padding: 10px 0 10px 32px; id="Total">Total</td>
                                                <h5 style="text-align: right;" id="totalPago"></h5>
                                            </tr>

                                            <center>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="comprarAhora">
                                                    Comprar ahora
                                                </button>
                                            </center>
                                            <br>
                                            <p style="text-align:center">Al confirmar la compra acepto los términos y
                                                condiciones</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
 

    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Compra Realizada con Exito</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>Numero de Orden:</strong> 000123<br>
                Enviaremos el comprobante de pago a tu correo electrónico.
            </div>
            <div class="modal-footer">
              <a href="{{url_for('index')}}"><button type="button" class="btn btn-primary">Inicio</button></a>
              <a href="misOrdenes.html"><button type="button" class="btn btn-primary">Mis Ordenes</button></a>
            </div>
          </div>
        </div>
      </div>



    <script src="js/envio.js"></script>
    <script src="js/limpiar.js"></script>
</section>

{% endblock %}