<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/producto.css">
    <script src="https://kit.fontawesome.com/6005c71067.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-md-block d-lg-none icon_ocultos">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars fa-xl barras"></i>
                        </button>
                        <a href="usuario.html"><i class="fa-solid fa-user fa-xl barras"></i></a>

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                            aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                    Menu
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mnuLateral">
                                    <a href="index.html">
                                        <li class="list-inline-item">Inicio</li>
                                    </a>
                                    <a href="categorias.html">
                                        <li class="list-inline-item">Categorias</li>
                                    </a>
                                    <a href="Blog.html">
                                        <li class="list-inline-item">Blog</li>
                                    </a>
                                    <a href="Sobre_Nosotros.html">
                                        <li class="list-inline-item">Sobre Nosotros</li>
                                    </a>
                                    <a href="contacto.html">
                                        <li class="list-inline-item">Contáctanos</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="text-center text-lg-start">
                        <a href="index.html"><img class="img-fluid logo" src="img/logo.png" /></a>
                    </div>
                    <nav class="d-none d-lg-block">
                        <ul class="list-inline menuHeader">
                            <a href="index.html">
                                <li class="list-inline-item">Inicio</li>
                            </a>
                            <a href="categorias.html">
                                <li class="list-inline-item">Categorias</li>
                            </a>
                            <a href="Blog.html">
                                <li class="list-inline-item">Blog</li>
                            </a>
                            <a href="Sobre_Nosotros.html">
                                <li class="list-inline-item">Sobre Nosotros</li>
                            </a>
                            <a href="contacto.html">
                                <li class="list-inline-item">Contáctanos</li>
                            </a>
                        </ul>
                    </nav>
                    <div class="iconos">
                        <a href=""><i class="fa-solid fa-magnifying-glass fa-xl icon"></i></a>
                        <a href="usuario.html"><i class="fa-solid fa-user fa-xl icon d-none d-lg-inline-block"></i></a>
                        <a href="carrito.html"><i class="fa-solid fa-cart-shopping fa-xl icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <div class="row">
            <div class=" mnuNav d-none d-lg-block">
                <nav class="menuNavI" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="tienda.html">Tienda</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hill's SD Snacks Natural Fruty Treats</li>
                    </ol>
                </nav>
            </div>

            <div class="col-lg-12 mainBody d-flex flex-column justify-content-center align-items-center  ">
                <div class="d-block justify-content-center">
                    <div class="d-lg-flex">
                        <div class="text-sm-center">
                            <img class="img-fluid imgProduct mx-2" id="imgProducto" src="img/Producto 2.png" alt="">
                        </div>
                        <div class="d-block justify-content-center">
                            <div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <p id="proTitle">Hill's SD Snacks Natural Fruty Treats</p>
                                    <button class="boton"><i class="fa-solid fa-heart fa-1x"></i></button>
                                </div>
                            </div>
                            <div class="justify-content-center align-items-center">
                                <p class="descript text-center">
                                    Hill's Natural Fruity Crunchy Snacks with Apples<br>
                                    & Oatmeal son deliciosos premios naturales para perros<br>
                                    hechos con solamente los mejores ingredientes.<br>
                                    Cada premio está horneado con pedazos de fruta verdadera<br>
                                    y hará feliz a su perro
                                </p>
                            </div>
                            <div class="preProd text-center">
                                <span>Precio:</span>
                                <span>S/.</span>
                                <span id="precioPro">35.00</span>
                            </div>
                            <div class="btnComp d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="addCarrito">Agregar al Carrito</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comprarAhoraModal" id="comprarAhoraID" >Comprar Ahora</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex cont1">
                    <h5>Calificación:</h5>
                    <div class="contStart">
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                      <i class="fas fa-star star"></i>
                    </div>
                </div>
            </div>

            <div class="d-flex cont2 flex-column justify-content-center align-items-center ">
                <h5>Comentarios</h5>
                <div class="d-lg-flex d-md-block ">
                   <div class="d-flex">
                    <div>
                        <i class="fa-solid fa-user fa-2x"></i>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control " id="exampleFormControlTextarea1" rows="3" cols="5" ></textarea>
                      </div>
                   </div>
                  <div>
                    <button class="btnEnviar btn btn-primary">Enviar</button>
                  </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="justify-content-between  d-lg-flex d-md-flex"> 
                    <div class="block">

                        <h4>Contacto</h4>
                
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-briefcase fa-lg"></i>
                            <p>Las Ñustas 2029, La Victoria<br>14007 Chiclayo - Perú</p>
                
                        </div>
                
                        <div class="d-flex align-items-center ">
                             <i class="fa-regular fa-envelope fa-lg"></i>
                             <p>contacto@veterinariamips.com</p>
                        </div>
                
                        <div class="d-flex align-items-center ">
                            <i class="fa-solid fa-phone-volume fa-lg"></i> 
                            <p>943 777 595<br>(30) 50 - 5358</p>
                        </div>
                    </div>
                
                    <div class="block">
                        <h4>Categorias</h4>
                        <a href=""><p>Perros</p></a>
                        <a href=""><p>Gatos</p></a>
                    </div>
                
                    <div class="block">
                        <a href="preguntas.html"><h4>Preguntas Frecuentes</h4></a>
                        <p>
                            ¿Cuáles son los horarios de atención?<br>
                            ¿Cómo puedo programar una cita para<br> mi mascota?<br>
                            ¿Cuáles son los servicios que ofrece?
                        </p>
                        <h4>Visitanos</h4>
                        <a href=""><img src="img/instagram 1.png" alt=""></a>
                        <a href=""><img src="img/facebook 1.png" alt=""></a>
                        <a href=""><img src="img/gorjeo 1.png" alt=""></a>
                    </div>
                
                </div>

                <p>@Copyright 2023 Veterinaria Mi Pequeño Sebastian Todos los derechos reservados</p>

            </div>
        </div>
    </footer>

    <div class="container-fluid d-flex justify-content-center desarrolladora">
        <div class="row">
            
        <div class="container-fluid d-flex justify-content-center ">
            Fecha de creación: 29/06/2023
        </div>
        <div class="container-fluid d-flex justify-content-center ">
            Ultima Actualización : 12/07/2023
        </div>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center desarrolladora">
        Desarrollado por &nbsp;<a href="empresa.html"><Strong>CodexSING</Strong> </a>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Producto Agregado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El producto fue Agregado con exito
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
                    <a href="carrito.html"><button type="button" class="btn btn-primary">Ver Carrito</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="comprarAhoraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Producto Agregado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El producto fue Agregado con exito
                </div>
                <div class="modal-footer">
                    <a href="carrito.html"><button type="button" class="btn btn-primary">Ver Carrito</button></a>
                </div>
            </div>
        </div>
    </div>



    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/producto.js"></script>
</body>

</html>