{% extends "maestra_adminX.html" %}
{% block titulo %} Registrar Administrador{% endblock %}
{% block contenido %}

<section class="p-5">
    <h3 class="is-size-3 mb-3">Agregar Administrador</h3>
    <section class="input-group mb-3">
        <form action="{{url_for('metodo_registro_administrador')}}" method="post">
            <label for="nombre" class="form-label">Nombre</label>
            <input required type="text" class="form-control mb-3" name="nombre" id="nombre" placeholder="">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input required type="text" class="form-control mb-3" name="apellidos" id="apellidos" placeholder="">
            <label for="email" class="form-label">Email</label>
            <input required type="text" class="form-control mb-3" name="email" id="email" placeholder="">
            <label for="telefono" class="form-label">Telefono</label>
            <input required type="text" class="form-control mb-3" name="telefono" id="telefono" placeholder="">
            <label for="direccion" class="form-label">Direccion</label>
            <input required type="text" class="form-control mb-3" name="direccion" id="direccion" placeholder="">
            <label for="cliente_dni" class="form-label">DNI</label>
            <input required type="text" class="form-control mb-3" name="cliente_dni" id="cliente_dni" placeholder="">
            <label for="username" class="form-label">Username</label>
            <input required type="text" class="form-control mb-3" name="username" id="username" placeholder="">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
                <input required type="password" class="form-control mb-3" name="password" id="password" placeholder="">
                <div class="input-group-append">
                    <span id="togglePassword" class="input-group-text">
                        <i class="fas fa-eye-slash" style="cursor: pointer; margin: 3px;padding: auto;"></i>
                    </span>
                </div>
            </div>
            <div class="pt-4">
                <button type="submit" class="btn btn-primary" style="width: 100px;">Guardar</button>
                <a href="{{url_for('formulario_administradores')}}" class="btn bg-primary-subtle"
                    style="width: 100px;">Volver</a>
            </div>
        </form>
    </section>
</section>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordField = document.getElementById('password');
        const togglePasswordIcon = document.getElementById('togglePassword');

        togglePasswordIcon.addEventListener('click', function () {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePasswordIcon.innerHTML = '<i class="fas fa-eye" style="cursor: pointer; margin: 3px"></i>';
            } else {
                passwordField.type = 'password';
                togglePasswordIcon.innerHTML = '<i class="fas fa-eye-slash" style="cursor: pointer; margin: 3px"></i>';
            }
        });
    });
</script>

{% endblock %}