{% extends "maestra_adminX.html" %}
{% block titulo %} Registrar mascota{% endblock %}
{% block contenido %}

<section class="p-5">
    <h3 class="is-size-3 mb-3">Agregar mascota</h3>
    <section class="input-group mb-3">
        <form action="{{url_for('metodo_insertar_mascota')}}" method="post" >
            <label for="nombre" class="form-label">Nombre</label>
            <input required type="text" class="form-control" name="nombre" id="nombre" placeholder="">
            <div class="pt-4">
                <button type="submit" class="btn btn-primary" style="width: 100px;">Guardar</button>
                <a href="{{url_for('formulario_mascotas')}}" class="btn bg-primary-subtle" style="width: 100px;">Volver</a>
            </div>
        </form>
    </section>   
</section>

{% endblock %}