{% extends "maestra_adminX.html" %}
{% block titulo %} Detalle de Pedidos {% endblock %}
{% block contenido %}

<section class="section p-5">
    <div class="col-11">
        <h2 class="is-size-3">Detalles de Pedidos</h2>
        <!-- Agrega un enlace para agregar nuevo detalle de pedido -->
        <a href="{{ url_for('formulario_registrar_detalle_pedido') }}" class="btn btn-primary px-4 my-2">Agregar</a>
        <table class="table table-hover table-group-divider table align-middle">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" class="border">Pedido ID</th>
                    <th scope="col" class="border">Producto ID</th>
                    <th scope="col" class="border">Cantidad</th>
                    <th scope="col" class="border">Precio Unitario</th>
                    <th scope="col" class="border">Editar</th>
                    <th scope="col" class="border">Eliminar</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for detalle_pedido in detalles_pedidos %}
                <tr>
                    <td class="border text-start">{{ detalle_pedido[0] }}</td>
                    <td class="border text-start">{{ detalle_pedido[1] }}</td>
                    <td class="border text-start">{{ detalle_pedido[2] }}</td>
                    <td class="border text-start">{{ detalle_pedido[3] }}</td>
                    <td class="text-center border">
                        <a href="{{ url_for('formulario_editar_detalle_pedido', pedido_id=detalle_pedido[0], producto_id=detalle_pedido[1]) }}" class="btn btn-secondary">Editar</a>
                    </td>
                    <td class="text-center border">
                        <form action="{{ url_for('metodo_eliminar_detalle_pedido') }}" method="POST">
                            <input type="hidden" name="pedido_id" value="{{ detalle_pedido[0] }}">
                            <input type="hidden" name="producto_id" value="{{ detalle_pedido[1] }}">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</section>

{% endblock %}
