{% extends "maestra.html" %}
{% block titulo %} Registrar usuario{% endblock %}

{% block contenido %}
    <main class="container-fluid">
        <div class="row justify-content-center">
            <h3 class="mt-4 mb-4 text-center pb-3 pt-3 bg-primary-subtle" id="titulo"><strong>Regístrate</strong></h3>
    
            <div class="col-8 border-0 border-top border-dark-subtle">
                <form class="form-inline-labels mt-4">
                    <div class="row">
                        <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                            <label for="firstName" class="col-sm-3 col-md-4 col-form-label"><strong>Nombres:</strong></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control border-dark-subtle" id="firstName" placeholder="Nombres">
                            </div>
                        </div>
                        <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                            <label for="lastName" class="col-sm-3 col-md-4 col-form-label"><strong>Apellidos:</strong></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control border-dark-subtle" id="lastName" placeholder="">
                            </div>
                        </div>
                        
                        <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                            <label for="email" class="col-sm-3 col-md-4 col-form-label"><strong>Correo Electrónico:</strong></label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control border-dark-subtle" id="email" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                            <label for="password" class="col-sm-3 col-md-4 col-form-label"><strong>Contraseña:</strong></label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control border-dark-subtle" id="password" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                            <label for="confirmPassword" class="col-sm-3 col-md-4 col-form-label"><strong>Confirmar Contraseña:</strong></label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control border-dark-subtle" id="confirmPassword" placeholder="">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-3 justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container justify-content-center">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container justify-content-center d-grid d-md-flex">
                            <p class="me-3">¿Ya tienes una cuenta?</p>
                            <a href="{{url_for('login')}}" class="text-dark">
                                <strong>Iniciar sesión</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}    