{% extends "maestra.html" %}
{% block titulo %} Registrar cliente{% endblock %}

{% block contenido %}
<main class="container-fluid">
    <div class="row justify-content-center">
        <h3 class="mt-4 mb-4 text-center pb-3 pt-3 bg-primary-subtle" id="titulo"><strong>Regístrate</strong></h3>

        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6 border-0 border-top border-dark-subtle">
            <form action="{{url_for('metodo_registro_cliente')}}" method="POST" class="mt-3">
                <!-- <div class="row">
                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="nombre" class="col-sm-3 col-md-4 col-form-label"><strong>Nombres y
                                Apellidos:</strong></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control border-dark-subtle" name="nombre" id="nombre"
                                placeholder="Nombres y Apellidos">
                        </div>
                    </div>
                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="email" class="col-sm-3 col-md-4 col-form-label"><strong>Email:</strong></label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control border-dark-subtle" name="email" id="email"
                                placeholder="">
                        </div>
                    </div>

                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="telefono"
                            class="col-sm-3 col-md-4 col-form-label"><strong>Telefono:</strong></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control border-dark-subtle" name="telefono" id="telefono"
                                placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="direccion" class="col-sm-3 col-md-4 col-form-label"><strong>DNI:</strong></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control border-dark-subtle" name="direccion" id="direccion"
                                placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="cliente_dni"
                            class="col-sm-3 col-md-4 col-form-label"><strong>Direccion:</strong></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control border-dark-subtle" name="cliente_dni"
                                id="cliente_dni" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="password"
                            class="col-sm-3 col-md-4 col-form-label"><strong>Contraseña:</strong></label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control border-dark-subtle" name="password" id="password"
                                placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3 text-center text-md-end justify-content-center align-items-center">
                        <label for="confirmPassword" class="col-sm-3 col-md-4 col-form-label" ><strong>Confirmar
                                Contraseña:</strong></label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control border-dark-subtle" id="confirmPassword" name="confirmPassword"
                                placeholder="">
                        </div>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container justify-content-center">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container justify-content-center d-grid d-md-flex">
                            <p class="me-3">¿Ya tienes una cuenta?</p>
                            <a href="{{url_for('login')}}" class="text-dark">
                                <strong>Iniciar sesión</strong>
                            </a>
                        </div>
                    </div>
                </div> -->
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="nombres" class="form-label fw-bold">Nombres: </label>
                        <input required type="text" class="form-control border-dark-subtle" id="nombres" name="nombres" placeholder="Nombres">
                    </div>
                    <div class="col-md-6">
                        <label for="apellidos" class="form-label fw-bold">Apellidos: </label>
                        <input required type="text" class="form-control border-dark-subtle" id="apellidos" name="apellidos" placeholder="Apellidos">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label fw-bold">Email: </label>
                        <input required type="email" class="form-control border-dark-subtle" id="email" name="email" placeholder="Correo electrónico">
                    </div>
                    <div class="col-md-6">
                        <label for="telefono" class="form-label fw-bold">Teléfono: </label>
                        <input required type="text" class="form-control border-dark-subtle" id="telefono" name="telefono" placeholder="Número de teléfono" pattern="[0-9]+" title="Ingresa solo números" maxlength="9">
                    </div>
                    <div class="col-md-6">
                        <label for="direccion" class="form-label fw-bold">Direccion: </label>
                        <input required type="text" class="form-control border-dark-subtle" id="direccion" name="direccion" placeholder="Dirección">
                    </div>
                    <div class="col-md-6">
                        <label for="dni" class="form-label fw-bold">DNI: </label>
                        <input required type="text" class="form-control border-dark-subtle" id="dni" name="dni" placeholder="DNI" pattern="[0-9]+" title="Ingresa solo números" maxlength="8">
                    </div>
                    <div class="col-12">
                        <label for="username" class="form-label fw-bold">Usuario: </label>
                        <input required type="text" class="form-control border-dark-subtle" id="username" name="username" placeholder="Nombre de usuario">
                    </div>
                    <div class="col-md-6">
                        <label for="password" class="form-label fw-bold">Contraseña: </label>
                        <input required type="password" class="form-control border-dark-subtle" id="password" name="password" placeholder="Contraseña">
                    </div>
                    <div class="col-md-6">
                        <label for="confirmPassword" class="form-label fw-bold">Confirmar contraseña: </label>
                        <input required type="password" class="form-control border-dark-subtle" id="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña">
                    </div>
                </div>
                <div class="row mb-3 mt-4 justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container justify-content-center">
                            <button type="submit" class="btn btn-primary col-6">Registrarse</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container justify-content-center d-grid d-md-flex">
                            <p class="me-3">¿Ya tienes una cuenta?</p>
                            <a href="{{url_for('login')}}" class="text-dark">
                                <strong>Iniciar sesión</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");

        confirmPasswordInput.addEventListener("input", function () {
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordInput.setCustomValidity("Las contraseñas no coinciden");
            } else {
                confirmPasswordInput.setCustomValidity("");
            }
        });
    });
</script>


{% endblock %}