{% extends "maestra.html" %}
{% block titulo %} Sobre Nosotros{% endblock %}
{% block contenido %}


<section class="container-fluid">
    <div class="row">
        <div class="container-fluid titulo justify-content-center align-items-center">
            Sobre Nosotros
        </div>

        <div class="container px-4">
            <div class="row gx-0">
                <div class="col" id="qsomos">
                    ¿Quiénes somos?
                </div>
                <div id="txt-qsomos">
                    Contamos con más de 12 años en el servicio veterinario. Nuestro equipo de profesionales
                    veterinarios,
                    con capacitación y actualización continua (médicos egresados de la Facultad de Medicina Veterinaria
                    -
                    Universidad Pedro Ruiz Gallo), se dedican exclusivamente a la atención de sus pequeños animales de
                    compañía.
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-md-6 col-sm-12 ">
                    <div id="mision">
                        Misión
                    </div>
                    <div id="txt-mision">
                        En Mi Pequeño Sebastián, nuestra misión es garantizar la salud y el bienestar de las mascotas a
                        través de la prestación de servicios veterinarios excepcionales y compasivos. Nos esforzamos por
                        brindar un entorno seguro y acogedor para todas las mascotas y sus dueños, donde se sientan
                        cómodos
                        y atendidos.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 ">
                    <div id="vision">
                        Visión
                    </div>
                    <div id="txt-vision">
                        Nuestra visión es convertirnos en la clínica veterinaria líder y de confianza en nuestra
                        comunidad.
                        Nos esforzamos por ser reconocidos por nuestra excelencia en el cuidado y bienestar de las
                        mascotas,
                        así como por nuestra dedicación en brindar una experiencia excepcional a los dueños de mascotas.
                    </div>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col" id="qsomos">
                    Valores
                </div>
                <div id="txt-qsomos">
                    <b>Responsabilidad social</b>: Nos preocupamos por el impacto que tenemos en nuestra comunidad y en
                    el medio ambiente. Buscamos formas de ser socialmente responsables, como la participación en
                    programas de adopción, la promoción de prácticas sostenibles y la colaboración con organizaciones
                    benéficas y protectoras de animales.
                </div>
            </div>
        </div>

    </div>
</section>

<link rel="stylesheet" href="{{url_for('static', filename='css/sobre_nosotros.css')}}">


{% endblock %}