<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/tienda.css" />
    <script src="https://kit.fontawesome.com/6005c71067.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-md-block d-lg-none icon_ocultos">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars fa-xl barras"></i>
                        </button>
                        <a href="usuario.html"><i class="fa-solid fa-user fa-xl barras"></i></a>

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                            aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                                    Menu
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mnuLateral">
                                    <a href="index.html">
                                        <li class="list-inline-item">Inicio</li>
                                    </a>
                                    <a href="categorias.html">
                                        <li class="list-inline-item">Categorias</li>
                                    </a>
                                    <a href="Blog.html">
                                        <li class="list-inline-item">Blog</li>
                                    </a>
                                    <a href="Sobre_Nosotros.html">
                                        <li class="list-inline-item">Sobre Nosotros</li>
                                    </a>
                                    <a href="contacto.html">
                                        <li class="list-inline-item">Contáctanos</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="text-center text-lg-start">
                        <a href="index.html"><img class="img-fluid logo" src="img/logo.png" /></a>
                    </div>
                    <nav class="d-none d-lg-block">
                        <ul class="list-inline menuHeader">
                            <a href="index.html">
                                <li class="list-inline-item">Inicio</li>
                            </a>
                            <a href="categorias.html">
                                <li class="list-inline-item">Categorias</li>
                            </a>
                            <a href="Blog.html">
                                <li class="list-inline-item">Blog</li>
                            </a>
                            <a href="Sobre_Nosotros.html">
                                <li class="list-inline-item">Sobre Nosotros</li>
                            </a>
                            <a href="contacto.html">
                                <li class="list-inline-item">Contáctanos</li>
                            </a>
                        </ul>
                    </nav>
                    <div class="iconos">
                        <a href=""><i class="fa-solid fa-magnifying-glass fa-xl icon"></i></a>
                        <a href="usuario.html"><i class="fa-solid fa-user fa-xl icon d-none d-lg-inline-block"></i></a>
                        <a href="carrito.html"><i class="fa-solid fa-cart-shopping fa-xl icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <div class="row">
            <div class="container-fluid titulo">Tienda</div>

            <div class="d-lg-inline-flex align-items-center justify-content-center">
                <p class="orden">Ordenar Por</p>
                <div class="combo d-none d-lg-flex">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mas Vendidos
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Novedades</a></li>
                            <li><a class="dropdown-item" href="#">Populares</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex search" role="search"">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success busca" type="submit">Buscar</button>
                </div>

                <div class="combo text-center d-lg-none">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mas Vendidos
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Novedades</a></li>
                            <li><a class="dropdown-item" href="#">Populares</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class=" tienda text-center">
                <div class="justify-content-between sec">
                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t8.webp" alt="">
                            <p>Hill's SD Adult 7+<br> 15 Kg<br>S/. 452.00</p>
                        </a>
                    </div>

                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t9.png" alt="">
                            <p>Hill's SD Adult 6+ <br> Large Breed 15 kg<br>S/. 416.00</p>
                        </a>
                    </div>

                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t10.png" alt="">
                            <p>Hill's SD Adult 7+ <br> Youthful Vitality <br>S/. 96.00 </p>
                        </a>
                    </div>

                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t11.png" alt="">
                            <p>Hill's SD Adult <br> Light<br>S/. 102.00</p>
                        </a>
                    </div>
                </div>

                <div class="justify-content-between sec">
                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t12.png" alt="">
                            <p>Hill's PD Hypo <br> Treats 340 Gr<br>S/. 56.00</p>
                        </a>
                    </div>

                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t13.png" alt="">
                            <p>Dr. Clauder´s Filets<br>Rabbit Snack 80 Gr<br>S/. 26.00</p>
                        </a>
                    </div>

                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t14.png" alt="">
                            <p>Hill's SD Snacks Soft Savories<br>Peanut Butter & Banana 227 Gr<br>S/. 35.00</p>
                        </a>
                    </div>

                    <div class="d-inline-block text-center sec1 ">
                        <a href="">
                            <img class="img-fluid" src="img/t16.png" alt="">
                            <p>Hills PDt C/D Multicare <br> Cuidado Urinario 156 Gr<br>S/. 20.00</p>
                        </a>
                    </div>
                </div>

                <div class="d-inline-flex justify-content-center align-items-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="tienda.html">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="justify-content-between  d-lg-flex d-md-flex">
                    <div class="block">

                        <h4>Contacto</h4>

                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-briefcase fa-lg"></i>
                            <p>Las Ñustas 2029, La Victoria<br>14007 Chiclayo - Perú</p>

                        </div>

                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-envelope fa-lg"></i>
                            <p>contacto@veterinariamips.com</p>
                        </div>

                        <div class="d-flex align-items-center ">
                            <i class="fa-solid fa-phone-volume fa-lg"></i>
                            <p>943 777 595<br>(30) 50 - 5358</p>
                        </div>
                    </div>

                    <div class="block">
                        <h4>Categorias</h4>
                        <a href="">
                            <p>Perros</p>
                        </a>
                        <a href="">
                            <p>Gatos</p>
                        </a>
                    </div>

                    <div class="block">
                        <a href="preguntas.html"><h4>Preguntas Frecuentes</h4></a>
                        <p>
                            ¿Cuáles son los horarios de atención?<br>
                            ¿Cómo puedo programar una cita para<br> mi mascota?<br>
                            ¿Cuáles son los servicios que ofrece?
                        </p>
                        <h4>Visitanos</h4>
                        <a href=""><img src="img/instagram 1.png" alt=""></a>
                        <a href="https://www.facebook.com/veterinaria.mipequenosebastian" target="_blank"><img src="img/facebook 1.png" alt=""></a>
                        <a href=""><img src="img/gorjeo 1.png" alt=""></a>
                    </div>

                </div>

                <p>@Copyright 2023 Veterinaria Mi Pequeño Sebastian Todos los derechos reservados</p>

            </div>
        </div>
    </footer>

    <div class="container-fluid d-flex justify-content-center desarrolladora">
        <div class="row">
            
        <div class="container-fluid d-flex justify-content-center ">
            Fecha de creación: 29/06/2023
        </div>
        <div class="container-fluid d-flex justify-content-center ">
            Ultima Actualización : 12/07/2023
        </div>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center desarrolladora">
        Desarrollado por &nbsp;<a href="empresa.html"><Strong>CodexSING</Strong> </a>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>