<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/usuario.css">
    <script src="https://kit.fontawesome.com/6005c71067.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid ">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">


                    <div class="d-md-block d-lg-none icon_ocultos">

                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars fa-xl barras"></i>
                        </button>
                        <a href="usuario.html"><i class="fa-solid fa-user fa-xl barras"></i></a>


                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                            aria-labelledby="offcanvasNavbarLabel">

                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mnuLateral">
                                    <a href="index.html">
                                        <li class="list-inline-item">Inicio</li>
                                    </a>
                                    <a href="categorias.html">
                                        <li class="list-inline-item">Categorias</li>
                                    </a>
                                    <a href="Blog.html">
                                        <li class="list-inline-item">Blog</li>
                                    </a>
                                    <a href="Sobre_Nosotros.html">
                                        <li class="list-inline-item">Sobre Nosotros</li>
                                    </a>
                                    <a href="contacto.html">
                                        <li class="list-inline-item">Contáctanos</li>
                                    </a>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="text-center text-lg-start">
                        <a href="index.html"><img class="img-fluid logo" src="img/logo.png"></a>
                    </div>
                    <nav class="d-none d-lg-block">
                        <ul class="list-inline menuHeader">
                            <a href="index.html">
                                <li class="list-inline-item">Inicio</li>
                            </a>
                            <a href="categorias.html">
                                <li class="list-inline-item">Categorias</li>
                            </a>
                            <a href="Blog.html">
                                <li class="list-inline-item">Blog</li>
                            </a>
                            <a href="Sobre_Nosotros.html">
                                <li class="list-inline-item">Sobre Nosotros</li>
                            </a>
                            <a href="contacto.html">
                                <li class="list-inline-item">Contáctanos</li>
                            </a>
                        </ul>
                    </nav>
                    <div class="iconos">
                        <a href=""><i class="fa-solid fa-magnifying-glass fa-xl icon"></i></a>
                        <a href="usuario.html"><i class="fa-solid fa-user fa-xl icon d-none d-lg-inline-block"></i></a>
                        <a href="carrito.html"><i class="fa-solid fa-cart-shopping fa-xl icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid ">
        <div class="row justify-content-center">
            <div class="container-fluid titulo justify-content-center align-items-center">
                Usuario
            </div>
            <div class="d-flex ps-sm-5 mt-4 mb-4 pb-4 pt-4 bg-primary-subtle ">
                <img src="img/yong.jpg" alt="">
                <div class="ms-4 ">
                    <p>
                    <h4 class="fw-bold">Hola,</h4>
                    </p>
                    <p>
                    <h4 class="fw-bold">Alvaro Javier Yong Bartolini</h4>
                    </p>
                </div>
            </div>

            <div class="col-sm-10 col-12 d-flex border-dark-subtle justify-content-between">
                <nav class="col-2  d-none d-lg-block align-items-center" style="height: fit-content;">
                    <nav class=" nav-underline p-4">
                        <a class="nav-link mt-2" href="favoritos.html"><i class="fa fa-heart"></i> Favoritos</a>
                        <a class="nav-link " href="contraseña1.html"><i class="fa fa-lock"></i> Contraseña</a>
                        <a class="nav-link" href="misOrdenes.html"><i class="fa fa-solid fa-clipboard-list"></i> Mis órdenes</a>
                        <a class="nav-link mb-2" href="index.html"><i class="fa fa-solid fa-right-from-bracket"></i> Cerrar
                            sesión</a>
                    </nav>
                </nav>

                <nav class="col-2 d-lg-none ">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-dark" href="favoritos.html">Favoritos</a></li>
                            <li><a class="dropdown-item text-dark" href="Contraseña.html">Contraseña</a></li>
                            <li><a class="dropdown-item text-dark" href="misOrdenes.html">Mis órdenes</a></li>
                            <li><a class="dropdown-item text-dark" href="index.html">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="col-md-9">
                    <div class="col-12 bg">
                      <div class="row p-4 pb-0 align-items-center justify-content-between">
                        <div class="col-md-10">
                          <h4 class="datos"><strong>Datos personales</strong></h4>
                        </div>
                        <div class="col-md-2 d-flex justify-content-end">
                          <i class="fa fa-user-pen"></i>
                        </div>
                      </div>
                      <div class="row p-4 pb-0">
                        <div class="col-md-4">
                          <p class="mb-0"><strong>Nombres:</strong></p>
                          <p>Alvaro Javier</p>
                        </div>
                        <div class="col-md-4">
                          <p class="mb-0"><strong>Apellido Paterno:</strong></p>
                          <p>Yong</p>
                        </div>
                        <div class="col-md-4">
                          <p class="mb-0"><strong>Apellido Materno:</strong></p>
                          <p>Bartolini</p>
                        </div>
                      </div>
                      <div class="row p-4 pt-2">
                        <div class="col-md-4">
                          <p class="mb-0"><strong>Tipo de documento:</strong></p>
                          <p>DNI: 654321</p>
                        </div>
                        <div class="col-md-4">
                          <p class="mb-0"><strong>Celular:</strong></p>
                          <p>+51 987654321</p>
                        </div>
                        <div class="col-md-4">
                          <p class="mb-0"><strong>Correo electrónico:</strong></p>
                          <p>alvaro@gmail.com</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 bg mt-3 mb-3">
                      <div class="row p-4 pb-0 align-items-center justify-content-between">
                        <div class="col-md-10 mb-0">
                          <h4 class="datos"><strong>Datos para el reembolso</strong></h4>
                        </div>
                      </div>
                      <div class="row p-4">
                        <div class="col-md-6 mt-2">
                          <p><strong>Banco:</strong></p>
                          <input type="text" class="form-control border-0 border-bottom border-dark bg-secondary-subtle" placeholder="">
                        </div>
                        <div class="col-md-6 mt-2">
                          <p><strong class="mb-0">Tipo de cuenta:</strong></p>
                          <div class="position-relative">
                            <select class="form-control bg-secondary-subtle" >
                                <option>< Clic aquí > </option>
                                <option>Ahorro</option>
                                <option>Corriente</option>
                                <option>Chequera</option>
                                <option>Nómina</option>
                                <option>En dólares</option>
                              </select>
                              <div class="flecha"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mt-2">
                          <p><strong>Cuenta Interbancaria (CCI):</strong> </p>
                          <input type="text" class="form-control border-0 border-bottom border-dark bg-secondary-subtle" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </main>

    <footer class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <div class="justify-content-between  d-lg-flex d-md-flex"> 
                    <div class="block">

                        <h4>Contacto</h4>
                
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-briefcase fa-lg"></i>
                            <p>Las Ñustas 2029, La Victoria<br>14007 Chiclayo - Perú</p>
                
                        </div>
                
                        <div class="d-flex align-items-center ">
                             <i class="fa-regular fa-envelope fa-lg"></i>
                             <p>contacto@veterinariamips.com</p>
                        </div>
                
                        <div class="d-flex align-items-center ">
                            <i class="fa-solid fa-phone-volume fa-lg"></i> 
                            <p>943 777 595<br>(30) 50 - 5358</p>
                        </div>
                    </div>
                
                    <div class="block">
                        <h4>Categorias</h4>
                        <a href=""><p>Perros</p></a>
                        <a href=""><p>Gatos</p></a>
                    </div>
                
                    <div class="block">
                        <a href="preguntas.html"><h4>Preguntas Frecuentes</h4></a>
                        <p>
                            ¿Cuáles son los horarios de atención?<br>
                            ¿Cómo puedo programar una cita para<br> mi mascota?<br>
                            ¿Cuáles son los servicios que ofrece?
                        </p>
                        <h4>Visitanos</h4>
                        <a href=""><img src="img/instagram 1.png" alt=""></a>
                        <a href=""><img src="img/facebook 1.png" alt=""></a>
                        <a href=""><img src="img/gorjeo 1.png" alt=""></a>
                    </div>
                
                </div>

                <p>@Copyright 2023 Veterinaria Mi Pequeño Sebastian Todos los derechos reservados</p>

            </div>
        </div>
    </footer>

    <div class="container-fluid d-flex justify-content-center desarrolladora">
        <div class="row">
            
        <div class="container-fluid d-flex justify-content-center ">
            Fecha de creación: 29/06/2023
        </div>
        <div class="container-fluid d-flex justify-content-center ">
            Ultima Actualización : 12/07/2023
        </div>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center desarrolladora">
        Desarrollado por &nbsp;<a href="empresa.html"><Strong>CodexSING</Strong> </a>
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>